@model TraversalCoreProje.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenle</h1>
<form method="post">
    @Html.Label("Adınız :")
    <input type="text" asp-for="name" class="form-control"/>
    <br />
    @Html.Label("Soy Adınız :")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mailiniz :")
    <input type="text" asp-for="email" class="form-control" />
    <br />
    @Html.Label("Şifreniz :")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifreniz Tekrar :")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("Telefon Numaranız :")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
   
</form>

